/* ========= Global Styles ========= */
html {
 scroll-behavior: smooth;
}

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: #1f1f1f;
 color: white;
}

/* ========= Video Splash ========= */
#video {
 z-index: 5;
 position: fixed;
 height: 100vh;
 width: 100vw;
 background-color: black;
 animation: close 0.5s 4s forwards;
}

video {
 width: 100%;
 transform: scale(0.5) translateY(-10vh);
}

@keyframes close {
 from {
  transform: translateY(0);
  opacity: 1;
 }

 to {
  transform: translateY(-100vh);
  opacity: 0;
  visibility: hidden;
 }
}

#sidebar {
 display: none;
}

.sub-header {
 padding: 2rem;
 padding-top: 7rem;
}

.sub-header .title {
 font-size: 1.6rem;
 font-weight: 600;
 border-bottom: 1px solid white;
 margin-bottom: 2rem;
}

/* ========= Navigation Bar ========= */
#navbar {
 z-index: 10;
 position: fixed;
 top: 0;
 width: 100%;
 height: 12vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 2rem;
 background: linear-gradient(#11100f, #211b1b);
 box-shadow: 0 5px 5px black;
}

#navbar>i {
 display: none;
}

#navbar #name {
 font-size: .8rem;
 font-weight: bold;
}

#navbarList {
 display: flex;
 gap: 2rem;
}

#navbar a {
 color: white;
 text-decoration: none;
 font-size: 1rem;
 position: relative;
 transition: transform 0.3s;
}

#navbar a:hover {
 transform: scale(1.1);
}

#navbar a::after {
 content: '';
 display: block;
 height: 2px;
 width: 0;
 background: white;
 transition: width 0.3s;
 position: absolute;
 bottom: -4px;
 left: 0;
}

#navbar a:hover::after {
 width: 100%;
}

/* ========= Home Section ========= */
#Home {
 width: 100vw;
 display: flex;
 align-items: center;
 background-color: #211f1f;
}

#homeContent {
 display: flex;
 flex-direction: column;
 gap: .5rem;
 margin-left: 5rem;
}

#homeContent #name {
 font-size: 2rem;
 color: red;
}

#homeContent #Portfolio {
 padding: 0.5rem 1rem;
 border: 1px solid red;
 font-style: italic;
 color: white;
 width: max-content;
}

/* ========= Services ========= */
#Services {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#Services #ServicesList {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 1rem;
 width: 100%;
}

#Services #ServicesList .card {
 background-color: #151539;
 padding: 2rem;
 border-radius: 1rem;
 width: 100%;
 max-width: 27rem;
 text-align: center;
 color: white;
}

#ServicesList .card .card-header {
 display: flex;
 justify-content: center;
 align-items: center;
 column-gap: 1rem;
 row-gap: 2rem;
 margin-bottom: 1rem;
}

#Services i {
 font-size: 1rem;
 background: rgb(248, 227, 165);
 color: black;
 padding: 0.3rem;
 border-radius: 50%;
}

#Services ol {
 list-style-position: inside;
}

#Services li {
 text-align: left;
 line-height: 2rem;
 margin-bottom: .5rem;
 color: cyan;
}


/* ========= Projects ========= */
#Projects {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#ProjectsList {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 2rem;
 width: 100%;
}

#ProjectsList .card {
 padding: 2rem;
 border-radius: 1rem;
 width: 100%;
 max-width: 27rem;
 background: white;
 color: #444;
 transition: all 0.3s ease;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#ProjectsList .card .card-header {
 text-align: center;
 color: #333;
 margin-bottom: 1rem;
}

#ProjectsList .card .tech-stack {
 font-size: 0.9rem;
 color: #444;
 display: flex;
 flex-direction: column;
 gap: .2rem;
 margin-top: 1rem;
}

/* ========= Project View ========= */
.projectDetails {
 background: #151539;
 padding: 2rem;
 color: #f0f0f0;
 overflow-y: auto;
 width: 100%;
 max-height: 400px;
}

.projectDetails h4 {
 color: lime;
 text-shadow: 1px 1px black;
 font-size: 1.8rem;
 margin-bottom: 1rem;
 text-align: center;
}

.projectDetails p {
 text-indent: 2rem;
 text-align: justify;
}

.projectOutput {
 width: 100%;
 max-height: 400px;
 overflow: hidden;
}

.projectOutput img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 filter: blur(1px);
 transition: filter 0.3s;
}

.projectOutput img:hover {
 filter: blur(0);
}

/* ========= About Me ========= */
#AboutMe {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
}

#AboutMe>div {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 1rem;
}

#photo {
 border: .4rem solid red;
 margin-top: 5rem;
 margin-right: 2rem;
}

#photo img {
 border: .4rem solid white;
 transform: translate(1.8rem, -1.7rem);
 width: 15rem;
}

#details {
 max-width: 600px;
 color: white;
}

#details h4 {
 font-size: 2.5rem;
 margin-bottom: 1rem;
 border-bottom: 2px solid white;
}

#details h5 {
 font-size: 1.5rem;
 margin-bottom: 1rem;
}

#details p {
 text-indent: 2rem;
 text-align: justify;
}

#downloadResume a {
 display: inline-block;
 margin-top: 1rem;
 padding: 0.5rem 1rem;
 border: 1px solid white;
 color: white;
 text-decoration: none;
 transition: background 0.3s;
}

#downloadResume a:hover {
 background: white;
 color: black;
}

/* ========= Contact ========= */
#Contact {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#Contact h2 {
 font-size: 2rem;
 margin-bottom: 3vh;
 border-bottom: 2px solid white;
}

#contactDetails {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 2rem;
 width: 100%;
}

#contactDetails>div {
 width: 250px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

#contactDetails img {
 height: 2rem;
 width: 2rem;
 object-fit: contain;
}

.thanks {
 margin-top: 2rem;
 text-align: justify;
 font-size: .8rem;
}

/* ========= Footer ========= */
footer {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 background: black;
 color: white;
 padding: 1rem;
}

footer #links {
 display: flex;
 gap: 1rem;
}

footer i {
 font-size: 1rem;
 color: white;
}


/* re usable */
.card:hover {
 transform: translateY(-5px);
 box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}