@media only screen and (max-width: 600px) {

 html {
  scroll-behavior: smooth;
 }

 * {
  margin: 0;
  padding: 0;
 }

 /* ================== Video Intro ================== */
 #video {
  z-index: 5;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  background: black;
  animation: close 0.5s 4s forwards;
 }

 video {
  width: 100%;
  transform: scale(1.4) translate(4dvw, -2vh);
 }

 @keyframes close {
  to {
   transform: translateX(110dvw);
   opacity: 0;
   display: none;
  }
 }

 /* ================== Navbar ================== */
 #navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(17, 16, 15), rgb(33, 27, 27));
  box-shadow: 0 1vh 1vh black;
 }

 #navbar #name {
  flex: 1;
  font-size: 1.5vh;
  text-align: center;
  color: white;
 }

 #navbarList {
  display: none;
 }

 #navbar #bars {
  display: flex;
 }

 /* ================== Sidebar ================== */
 #sidebar {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  height: 70vh;
  width: 0;
  background: black;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
 }

 #sidebar #close {
  display: none;
  justify-content: flex-end;
 }

 #sidebar #close i {
  font-size: 4vh;
  margin: 4vh;
 }

 #sidebar #sidebarList {
  margin-left: 5vh;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 #sidebar a {
  font-size: 2vh;
  color: white;
  text-decoration: none;
  padding: 1.5vh 2vh;
  transition: all 0.3s;
 }

 #sidebar a:hover {
  background: bisque;
  color: red;
  text-shadow: 1px 1px 0.5px black;
 }

 #sidebar a:hover i {
  color: yellow;
 }

 /* ================== Home ================== */
 #Home {
  height: 100dvh;
  display: flex;
  align-items: center;
  background: #211f1f;
  color: white;
  letter-spacing: 2px;
 }

 #homeContent {
  height: 300px;
  margin-left: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
 }

 #homeContent #name {
  font-size: 4vh;
  color: red;
 }

 #homeContent #Portfolio {
  padding: 5px 10px;
  color: white;
  font-style: italic;
  border: 1px solid red;
 }

 /* ================== Services ================== */
 #Services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #Services #ServicesAbout {
  width: 80%;
  margin-top: 11vh;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #Services #title {
  font-size: 20px;
  font-weight: bold;
 }

 #Services #ServicesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px 0;
 }

 #Services #ServicesList>div {
  width: 45%;
  padding: 10px;
  background: #151539;
  border-radius: 10px;
  color: white;
 }

 #Services li {
  font-size: 14px;
  line-height: 20px;
  color: cyan;
  margin-bottom: 2px;
 }

 /* ================== Projects ================== */
 #Projects {
  padding-top: 15vh;
  text-align: center;
 }

 #ProjectsList {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #ProjectsList>div {
  width: 100%;
  box-shadow: 0 0 1px black;
 }

 .projectDetails {
  background: #151539;
  color: white;
  padding: 10px;
 }

 .projectDetails h4 {
  font-size: 25px;
  color: limegreen;
  text-shadow: 1px 1px black;
 }

 .projectOutput {
  height: 200px;
  overflow-y: scroll;
  background: black;
 }

 .projectOutput img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
 }

 .projectOutput img:hover {
  transform: scale(1.2);
 }

 /* ================== About Me ================== */
 #AboutMe {
  padding-top: 15vh;
  text-align: center;
 }

 #AboutMe #photo {
  height: 30vh;
  width: 46dvw;
  border: 5px solid red;
  margin-bottom: 5vh;
 }

 #AboutMe img {
  width: 100%;
  height: 100%;
  border: 2vw solid white;
 }

 #AboutMe #details {
  padding: 0 10px;
 }

 #AboutMe #details h4 {
  font-size: 30px;
  border-bottom: 1px solid black;
 }

 #AboutMe #details p {
  font-size: 11px;
  text-align: justify;
  text-indent: 50px;
 }

 /* ================== Contact ================== */
 #Contact {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #Contact h2 {
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
 }

 #contactDetails {
  width: 100%;
  padding: 0 10px;
 }

 #contactDetails>div {
  margin: 20px 0;
  display: flex;
  align-items: center;
 }

 #contactDetails img {
  height: 50px;
  width: 60px;
  margin-right: 20px;
 }

 /* ================== Footer ================== */
 footer {
  background: black;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 }

 footer #links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
 }

 footer i {
  font-size: 20px;
 }

}